<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Firmwater/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set. 
    Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-integrated restore. -->
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>  
  <packageSourceMapping>
    <!-- Firmwater private NuGet packages stored in GitHub -->
    <packageSource key="github">
      <package pattern="Firmwater.*" />
    </packageSource>
    <!-- NuGet official package source (nuget.org) -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="DefaultPushSource" value="github" />
  </config>
</configuration>